<template>
  <div class="home">

    <ImportStatus />
  </div>
</template>

<script>
// @ is an alias to /src
import ImportStatus from '@/components/ImportStatus.vue'

export default {
  name: 'Home',
  components: {
    ImportStatus
  }
}
</script>
