<template>
  <div>Status: {{status}}</div>
</template>

<script>

export default {
  name: 'ImportStatus',
  props: {
    msg: String
  },
  data () {
    return {
      status: {}
    }
  },
  mounted: function () {
    var self = this
    console.log('??????????????')
    var uri = 'http://127.0.0.1:5501/api/import_status'
    this.$http.get(uri)
      .then((result) => {
        var newStatus = result.data
        self.status = newStatus
      })
      .catch((error) => {
        window.console.log(error)
      })

    // window.$.ajax({
    //   url: '/items',
    //   method: 'GET',
    //   success: function (data) {
    //     self.items = JSON.parse(data)
    //   },
    //   error: function (error) {
    //     console.log(error)
    //   }
    // })
  }
}
</script>

<style scoped>

</style>
